<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
Разместите объявление
    <form th:action="@{/account}" method="post">
        <div><label> название товара : <input type="text" name="adName"/> </label></div>
        <div><label> цена : <input type="text" name="price"/> </label></div>
        <div><input type="submit" value="создать"/></div>
    </form>

    <form th:action="@{/back}" method="get">
        <input type="submit" value="Объявления"/>
    </form>

</body>

</html>